<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" href="{% static '/libs/layui/css/layui.css' %}">
    <link rel="stylesheet" href="{% static '/libs/element-ui/lib/theme-chalk/index.css' %}">

    <script src="{% static '/libs/axios.min.js' %}"></script>

    <script src="{% static '/libs/vue.min.js' %}"></script>
    <script src="{% static '/libs/element-ui/lib/index.js' %}"></script>

    <script src="{% static '/libs/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static '/libs/layer/layer.js' %}"></script>
</head>

<body>
<div id="app">
    {% verbatim %}
    <el-form :model="formChangePassword" label-width="80px" style="width: 480px">
        <el-form-item label="原密码">
            <el-input type="password" v-model="formChangePassword.old_pwd"></el-input>
            <lable style="color: red;">{{ formChangePassword.err_old_pwd }}</lable>
        </el-form-item>

        <el-form-item label="新密码">
            <el-input type="password" v-model="formChangePassword.new_pwd1"></el-input>
            <lable style="color: red;">{{ formChangePassword.err_new_pwd1 }}</lable>
        </el-form-item>

        <el-form-item label="新密码">
            <el-input type="password" v-model="formChangePassword.new_pwd2"></el-input>
            <lable style="color: red;">{{ formChangePassword.err_new_pwd2 }}</lable>
        </el-form-item>
        <el-form-item>
            <span style="color: red">{{ formChangePassword.err_detail }}</span>
            <span style="color: green">{{ formChangePassword.change_success }}</span>
        </el-form-item>
        <el-form-item style="display: flex; justify-content: right">
            <el-button type="primary" @click="change_password()">确认修改</el-button>
        </el-form-item>
    </el-form>
    {% endverbatim %}
</div>
<script>
    let vm = new Vue({
        el: '#app',
        data: function (){
            return {
                formChangePassword: {
                    old_pwd: '',
                    new_pwd1: '',
                    new_pwd2: '',

                    err_old_pwd: '',
                    err_new_pwd1: '',
                    err_new_pwd2: '',

                    err_detail: '',
                    change_success: ''
                }
            }
        },
        methods: {
            change_password: function(){
                console.log(666)
                axios.post('/api/user/change_password/', {
                        old_pwd: this.formChangePassword.old_pwd,
                        new_pwd1: this.formChangePassword.new_pwd1,
                        new_pwd2: this.formChangePassword.new_pwd2
                })
                .then(rsp=>{
                    let data = rsp.data
                    if('msg' in data){
                        if(data.msg === '密码修改成功'){
                            this.formChangePassword = {
                                old_pwd: '',
                                new_pwd1: '',
                                new_pwd2: '',

                                err_old_pwd: '',
                                err_new_pwd1: '',
                                err_new_pwd2: '',

                                err_detail: '',
                            }
                            this.formChangePassword.change_success = '密码修改成功'
                        }
                    }
                })
                .catch(err=>{
                    let data = err.response.data
                    let new_formChangePassword = this.formChangePassword
                    if('detail' in data){
                        new_formChangePassword.err_detail = data['detail']
                    }
                    if('old_pwd' in data){
                        new_formChangePassword.err_old_pwd = data['old_pwd'][0]
                    }
                    if('new_pwd1' in data){
                        new_formChangePassword.err_new_pwd1 = data['new_pwd1'][0]
                    }
                    if('new_pwd2' in data){
                        new_formChangePassword.err_new_pwd2 = data['new_pwd2'][0]
                    }
                    this.formChangePassword = new_formChangePassword
                })
            },
        }
    })
    $('.el-input>input').on('focus', function (){
        vm.formChangePassword.err_old_pwd = ''
        vm.formChangePassword.err_new_pwd1 = ''
        vm.formChangePassword.err_new_pwd2 = ''
        vm.formChangePassword.err_detail = ''
        vm.formChangePassword.change_success = ''
    })
</script>
</body>
</html>